!!!5
html
  head
    title #{metas.title}
    link(rel='stylesheet', href='/assets/styles.css')
  body
    header
      h1 Miranda
      nav
        a(href="/about/") About
    .container
      .main-content
        block content
    footer
      p Built with <a href="#">Miranda</a>.