!!!5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    title #{metas.title}
    link(rel='stylesheet', href='/assets/styles.css')
    script(src='/assets/js/main.js')
  body
    header 
      nav

    section#content-container
      block content

    footer
      p Built with <a href='https://github.com/thibaultCha/Miranda'>Miranda</a>.
