!!!5
html
  head
    title= metas.title
    link(rel='stylesheet', href='/assets/styles.css')
    block head
  body
    header
      h1 
        a(href="/")= config.website.title
      nav
        a(href="/about/") About
    article.container
      block content
    footer
      p Built with <a href="https://github.com/thibaultCha/Equiprose">Equiprose</a>.