extend layout

block head
  link(rel='stylesheet', href='/assets/post.css')

block content
  article.post-metas
    h1 #{metas.title} -&nbsp;
      span.author= metas.author
    span= metas.date
  article.post-content!= content
