extend layout

block head
  link(rel='stylesheet', href='/assets/post.css')
  link(rel="stylesheet" href="http://yandex.st/highlightjs/7.5/styles/default.min.css")
  script(src="http://yandex.st/highlightjs/7.5/highlight.min.js")


block content
  h1 #{metas.title} - 
    span.author= metas.author
  span= metas.date
  .post-content!= content