// Path relative to the nodejs build file
@import 'templates/thibaultcha/styl/styles'

.md
  

#posts
  li
    list-style-type none
    padding 1em 0.2em
  .post-title
    color main-color
  .post-date
    color text-color
    margin-top 1em
  hr
    margin 0 0
  li:hover
    background-color lighten(text-color, 80%)