// Path relative to the nodejs build file
@import 'templates/thibaultcha/styl/styles'

#post-date
  padding 10pt 0 0 0

#post-content
  font-family 'ProximaNova'
  h1
    font-size 15pt
    font-weight bold
    padding 5pt 0 10pt 0
  strong
    background-color background-color
    color text-color
    padding 0 0
    border-radius(0)
    font-weight bold
  em
    font-style italic
  blockquote
    font-style italic