extend layout

block content
  .md!= content
  ul#posts
    each post, i in blog.posts
      a(href='#{post.link}'): li.post
        h1.post-title #{post.title}
        h2.post-date #{post.date}
      if i !== blog.posts.length - 1
        hr