// https://github.com/visionmedia/nib/blob/master/lib/nib/reset.styl
global-reset()
  *
    box-sizing border-box
    border 0
    outline 0
  body
    line-height 1
    color black
    background white
  ol, ul
    list-style none
  li
    list-style-type none
  table
    border-collapse separate
    border-spacing 0
    vertical-align middle
  caption, th, td
    text-align left
    font-weight normal
    vertical-align middle
  a img
    border none

// Functions
center()
  margin 0 auto

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

transition(time, type, style)
  -webkit-transition time type style
  -moz-transition time type style
  -ms-transition time type style
  -o-transition time type style
  transition time type style

clearfix()
  &:after
    content ''
    clear both
    display block
    height 0
    visibility hidden
