@import 'functions'

// Dimensions
global-width = 650px

// Colors
background-color = #faf9f0
link-color = #607EEF
link-hover = lighten(link-color, 30%)
text-color = #444

global-reset()

a
  text-decoration none
  color link-color
a:hover
  color link-hover

// GitHub
code
  margin 0 2px
  padding 0px 5px
  border 1px solid #ddd
  background-color #f8f8f8
  border-radius(3px)
  font-size 14px

pre
  background-color #f8f8f8
  border 1px solid #ddd
  font-size 13px
  line-height 19px
  overflow auto
  padding 6px 10px
  border-radius(3px)
  code
    margin none
    padding none
    border none

body
  font-family 'Georgia'
  font-size 18px
  //background-color background-color
  color text-color
::selection
  background rgba(93, 217, 190, 0.5)
  color white

header
  width global-width
  center()
  font-family 'Myriad Pro'
  h1
    width 150px
    float left
  nav
    float right
    margin-top 2em
    a
      float right
      display inline

.container
  clear both
  width global-width
  center()
  line-height 1.8em
  h3
    font-family 'Myriad Pro'
  .posts
    padding 0
    margin-bottom 3em
    li
      padding 0.5em 0
      a
        color text-color
      .post-date
        color link-color
        font-size 16px
    :hover
      color red


footer
  width global-width
  center()
  padding 0.5em 0
  font-size 0.8em
  border-top 1px dotted #ccc