@import 'functions'
@import 'global'

// Dimensions
global-width = 650px

// Colors
background-color = #faf9f0
link-color = #607EEF
link-hover = lighten(link-color, 30%)
text-color = #444

global-reset()

a
  text-decoration none
  color link-color
  transition(0.2s, color, ease)
a:hover
  color link-hover

body
  color text-color
  font-family 'Georgia'
  font-size 18px
  //background-color background-color
  &::selection
    background rgba(93, 217, 190, 0.5)
    color white

.page-container
  width global-width
  center()

  header
    font-family 'Myriad Pro'
    h1
      float left
    nav
      float right
      margin-top 2em
    clearfix()

  .container
    line-height 1.8em
    h3
      font-family 'Myriad Pro'
    .posts-container
      .posts
        padding 0
        li
          padding 0.5em 0
          a
            color text-color
          .post-date
            color link-color
            font-size 16px
        :hover
          color red

  footer
    padding 0.5em 0
    font-size 0.8em
    border-top 1px dotted #ccc
